
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    padding: 0 32px;
    width:1280px;
    min-height: 377px;
    background-color: #FFFFFF;
}
.footer-navigation{
   display: flex;
   gap:20px;
}
.footer-social-media{
    display: flex;
    gap:20px;
}
.footer-icon-box{
    width: 28px;
    height: 28px;
    border: 1px solid #AE1332;
    border-radius: 2px;
}
.footer-phone{
    padding-bottom: 20px;
    font-style: none;
}