*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*colors sheet */
    --black-color: #000000;
    --red-color: #AE1332;
    --white-color: #FFFFFF;
    --green-color: #A4CB66;
    --yelow-color: #F5CE13;
    --hover-color: #AE13321A;


}

body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    background-color: var(--red-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

body{
    background-color: aquamarine;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    padding: 0;
    margin: 0;
}
.header-section {
    
    background-color: var(--white-color)
}
.header-section__wrapper {

    padding-top: 13px;
    padding-bottom: 13px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.nav {
    display: flex;
}
.menu {
    display: none;
}
.logo {
    display: block;
}

.logo__text{
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.29;
    letter-spacing: -0.04em;
    text-align: center;
    text-transform:uppercase;
    color: var(--red-color);       
}

icon:hover,
icon:focus {
    color: var(--hover-color);
}
.basket__btn {
    display: none;
    margin-left: auto;
}
.mobile-nav__btn {
    display: block;
    margin-left: auto;
}

@media (min-width: 768px) {
    .header-section__wrapper {
        padding-top: 11px;
        padding-bottom: 11px;
    }
    .mobile-nav__btn {
        display: none;
    }
    .basket__btn {
        display: block;
    }
    .header-section__logo {
    margin-left: 94px;
    }
    .menu__link {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.29;
        letter-spacing: -0.04em;
        text-align: center;
        color: var(--red-color); 
    }
    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
    }
     
    
    

}

/* desktop screen = @media (min-width: 1158px) */

@media (min-width: 1280px) {
    .menu {
        
        gap: 20px;
    }
    .mobile-nav__btn {
        display: none;
    }
    .header-section__logo {
    margin-left: 322px;
    }
    
    


   
}

