*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /*colors sheet */
    --black-color: #000000;
    --red-color: #AE1332;
    --white-color: #FFFFFF;
    --green-color: #A4CB66;
    --yelow-color: #F5CE13;
    --hover-color: #AE13321A;

    
    --mobile-screen: min-width: 375px; /* @media (min-width: 375px){} */
    --tablet-screen: min-width: 768px; /* @media (min-width: 768px){} */
    --desktop-screen: min-width: 1280px; /* @media (min-width: 1280px){} */
    

}
body {
    margin: 0 auto;

/* basic font styles */
    font-family: 'DM+Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    color: var(--white-color);
    background-color: var(--red-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
img {
    display: block;
    width: 100%;
    height: auto;
}

button{
    border: none;
    background-color: transparent;
    list-style-type: none;
    text-decoration: none;
    font-style: normal;
    padding: 0;
    margin: 0;
    color: black;
}

/*  GLOBAL STYLES */

.section {
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--red-color);
}
.section__contact {
    padding-bottom: 80px;
}

.container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    
    /*test background-color */
    background-color: yellow;
}

/* tablet screen = @media (min-width: 768px) */

@media (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;

        /*test background-color */
            background-color: orange;
    }
}

/* desktop screen = @media (min-width: 1158px) */

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding-left: 32px;
        padding-right: 32px;

        /*test background-color */
            background-color: yellowgreen;
    }
}

/* END Global Styles */

/*  HEADER STYLES */
.header-section {
    background-color: var(--white-color)
}

.header-section__wrapper {
    padding-top: 13px;
    padding-bottom: 13px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.nav {
    display: flex;
    align-items: center;
}
.menu {
    display: none;
}
.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.logo__text {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.29;
    letter-spacing: -0.04em;
    text-align: center;
    text-transform: uppercase;
    color: var(--red-color);
}
.icon {
    display: inline-block;
    cursor: pointer;
}

.icon--red {
   fill: var(--red-color);
}
.icon--white {
    fill: var(--white-color);
}
/* logo, basket, hamburger, havent focus& hover 
.icon:hover,
.icon:focus {
    background-color: var(--hover-color);
}*/

.basket__btn {
    display: none;
    margin-left: auto;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
}

.mobile-nav__btn {
    display: block;
    margin-left: auto;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
}

@media (min-width: 768px) {
    .header-section__wrapper {
        padding-top: 11px;
        padding-bottom: 11px;
    }

    .mobile-nav__btn {
        display: none;
    }

    .basket__btn {
        display: block;
    }

    .header-section__logo {
        margin-left: 94px;
    }

    .menu__link {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.29;
        letter-spacing: -0.04em;
        text-align: center;
        color: var(--red-color);
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
    }
}

@media (min-width: 1280px) {

}

/* MOBILE-NAV modal styles */
.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
    opacity: 1;
    visibility: hidden;
    pointer-events: none;
    background-color: var(--red-color); 
}

@media (min-width: 768px) {
    .mobile-nav {
        display: none;
    }
}
.mobile-menu__overlay {
    background-color: var(--red-color);
    padding-bottom: 124px;
}
.mobile-menu {
    margin-top: 124px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
   
}
.mobile-menu__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    color: var(--white-color);
    text-transform: capitalize;
}

/* END HEADER STYLES */

/* ================================================================= */
/* HERO SECTION STYLES */

.hero-section {
    padding-top: 56px;
    padding-bottom: 40px;
}

.hero-section__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 32px;
    width: 1280px;
    min-height: 377px;
}


/* END HERO Section */
/*---------------------------------------------------------------- */
/* HOW IT WORKS Section */
h1,
h2,
h3,
h4,
h6,
p {
  margin: 0;
}
.container-works{
  margin-top: 40px;
}
.works-box{
  display: block;
  justify-content: center;
  align-items: center;
  width: 335px;
  height: 608px;
}
.works-blocks{
  padding-top: 44px;
  width: 100%;
}
.works-title{
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 28px;
  text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
  line-height: 28px; 
  margin-bottom: 14px;
  letter-spacing: -0.04em;
}
.text-works-title{
  font-weight: 400;
  font-size: 14px;
  line-height: 18px; 
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-align: center;
  color: #fff;
  text-align: center;
  margin-bottom: 14px;
  text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
}
.block-step{
  display: flex;
  border-radius: 20px;  
  width: 335px;
  height: 112px;
  background-image: url(../images/image-63347645.jpg);
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.block-style{
  display: flex;
  gap: 14px;
}
.text{
  line-height: 24px; 
  line-height: 1.33333;
  letter-spacing: -0.04em;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}
.text-block{
  text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
  line-height: 18px; 
  line-height: 1.28571;
  letter-spacing: -0.04em;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 145px;
  height: 55px;
}
.text-block-end{
  text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
  line-height: 18px; 
  line-height: 1.28571;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 145px;
}
.first-step{
  border-radius: 200px;
  width: 136px;
  height: 48px;
  background: #AE1332;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-step{
  border-radius: 200px;
  width: 136px;
  height: 48px;
  background: #A1C864;
  display: flex;
  justify-content: center;
  align-items: center;
}
.third-step{
  border-radius: 200px;
  width: 136px;
  height: 48px;
  background: #f5ce13;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fruit-gif{
  border-radius: 20px;
  width: 335px;
  height: 476px;
}
.gif-style{
  justify-content: center;
  align-items: center;
  margin-top: 44px;
}

/* ----------------------Tablet--------------------------*/
@media (min-width: 768px) {
  .container {
      display: block;
  }
  .works-box{
    display: block;
    width: 624px;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .works-blocks{
    display: block;
    justify-content: center;
    align-items: center;
  }
  .works-title{
    line-height: 1.1;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 40px;
    text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
    line-height: 44px; 
    margin-bottom: 14px;
  }
  .text-works-title{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px; 
    line-height: 1.28571;
    letter-spacing: -0.04em;
    text-align: center;
    color: #fff;
    align-items: center;
    width: 510px;
  }
  .block-step{
    display: flex;
    border-radius: 20px;  
    width: 335px;
    height: 112px;
    background-image: url(../images/image-63347645.jpg);
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .fruit-gif{
    border-radius: 20px;
    width: 704px;
    height: 476px;
  }
  .gif-style{
    margin-bottom: 80px;
  }
}

/*-------------------Desctop---------------- */
@media (min-width: 1158px) {
  .container {
    display: flex;
  }
  .works-box{
    width: 1216px;
    height: 329px;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .works-blocks{
    padding-top: 44px;
    justify-content: center;
    align-items: center;
  }
  .block-step{
    display: flex;
    border-radius: 20px;  
    width: 335px;
    height: 112px;
    background-image: url(../images/image-63347645.jpg);
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .works-title{
    line-height: 1.1;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 40px;
    text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
    line-height: 44px; 
    margin-bottom: 14px;
    width: 624px;
    margin: auto;
  }
  .text-works-title{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px; 
    line-height: 1.28571;
    letter-spacing: -0.04em;
    text-align: center;
    color: #fff;
    width: 100%;
    text-align: center;
    margin: auto;
    text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
    margin-top: 14px;
  }
  .works-blocks{
    display: flex;
    gap: 14px;
    padding-top: 44px;
  }
  .block-step{
    display: flex;
    border-radius: 20px;  
    width: 389px;
    height: 128px;
    background-image: url(../images/image-63347645.jpg);
    justify-content: center;
    align-items: center;
  }
  .block-style{
    display: flex;
    width: 349px;
    margin: 40px 20px;
    gap: 14px;
  }
  .fruit-gif{
    border-radius: 20px;
    width: 860px;
    height: 476px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .gif-style{
    margin-top: 83px;
    align-items: center;
    align-content: center;
  }
  .text-works-title{
  width: 510px;
  }
}



/* font styles section */

.of-p {
  font-family: "DM Sans" sans-serif;
  font-weight: 400;
  size: 14px;
  line-height: 18px;
  letter-spacing: 0, 04em;
  color: #ffffff;
}

.of-list-item {
  font-family: "DM Sans" sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0, 04em;
  color: #ffffff;
}

.plant {
  font-family: "DM Sans" sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0, 02em;
  color: #ffffff;
}

.price {
  font-family: "DM Sans" sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0, 04em;
  color: #ae1332;
}

/* header position */

h2 {
  display: flex;
  justify-content: center;
  width: 624px;
}

.of-p {
  display: flex;
  justify-content: center;
  width: 547px;
}

.of-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 14px;
}

/* strawberry card */

.strawberry-card {
  width: 389px;
  height: 465px;
  background-color: #f8766b;
  margin-top: 44px;
  border-radius: 20px;
}

.header-card {
  margin: 0px;
  padding-top: 64px;
}

.plant-card {
  margin: 0px;
  margin-top: 7px;
  margin-bottom: 4px;
}

.strawberry-card-box {
  margin-left: 24px;
}

.price-card-box {
  background-color: #ffffff;
  width: 136px;
  height: 48px;
  padding: 15px, 42px, 15px, 42px;
  margin-top: 4px;
  border-radius: 200px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* banana card */

.banana-card {
  width: 389px;
  height: 465px;
  background-color: #edd251;
  margin-top: 44px;
  border-radius: 20px;
}

.header-card {
  margin: 0px;
  padding-top: 64px;
}

.plant-card {
  margin: 0px;
  margin-top: 7px;
  margin-bottom: 4px;
}

.banana-card-box {
  margin-left: 24px;
}

.price-card-box {
  background-color: #ffffff;
  width: 136px;
  height: 48px;
  padding: 15px, 42px, 15px, 42px;
  margin-top: 4px;
  border-radius: 200px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* watermelon card */

.watermelon-card {
  width: 389px;
  height: 465px;
  background-color: #9dc262;
  margin-top: 44px;
  border-radius: 20px;
}

.header-card {
  margin: 0px;
  padding-top: 64px;
}

.plant-card {
  margin: 0px;
  margin-top: 7px;
  margin-bottom: 4px;
}

.watermelon-card-box {
  margin-left: 24px;
}

.price-card-box {
  background-color: #ffffff;
  width: 136px;
  height: 48px;
  padding: 15px, 42px, 15px, 42px;
  margin-top: 4px;
  border-radius: 200px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* lime card */

.lime-card {
  width: 389px;
  height: 465px;
  background-color: #bfd663;
  margin-top: 44px;
  border-radius: 20px;
}

.header-card {
  margin: 0px;
  padding-top: 64px;
}

.plant-card {
  margin: 0px;
  margin-top: 7px;
  margin-bottom: 4px;
}

.lime-card-box {
  margin-left: 24px;
}

.price-card-box {
  background-color: #ffffff;
  width: 136px;
  height: 48px;
  padding: 15px, 42px, 15px, 42px;
  margin-top: 4px;
  border-radius: 200px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* apple card */

.apple-card {
  width: 389px;
  height: 465px;
  background-color: #e93f29;
  margin-top: 44px;
  border-radius: 20px;
}

.header-card {
  margin: 0px;
  padding-top: 64px;
}

.plant-card {
  margin: 0px;
  margin-top: 7px;
  margin-bottom: 4px;
}

.apple-card-box {
  margin-left: 24px;
}

.price-card-box {
  background-color: #ffffff;
  width: 136px;
  height: 48px;
  padding: 15px, 42px, 15px, 42px;
  margin-top: 4px;
  border-radius: 200px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* peach card */

.peach-card {
  width: 389px;
  height: 465px;
  background-color: #db4f4b;
  margin-top: 44px;
  border-radius: 20px;
}

.header-card {
  margin: 0px;
  padding-top: 64px;
}

.plant-card {
  margin: 0px;
  margin-top: 7px;
  margin-bottom: 4px;
}

.peach-card-box {
  margin-left: 24px;
}

.price-card-box {
  background-color: #ffffff;
  width: 136px;
  height: 48px;
  padding: 15px, 42px, 15px, 42px;
  margin-top: 4px;
  border-radius: 200px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* plums card */

.plums-card {
  width: 389px;
  height: 465px;
  background-color: #9b5366;
  margin-top: 44px;
  border-radius: 20px;
}

.header-card {
  margin: 0px;
  padding-top: 64px;
}

.plant-card {
  margin: 0px;
  margin-top: 7px;
  margin-bottom: 4px;
}

.plums-card-box {
  margin-left: 24px;
}

.price-card-box {
  background-color: #ffffff;
  width: 136px;
  height: 48px;
  padding: 15px, 42px, 15px, 42px;
  margin-top: 4px;
  border-radius: 200px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* orange card */

.orange-card {
  width: 389px;
  height: 465px;
  background-color: #f47f4c;
  margin-top: 44px;
  border-radius: 20px;
}

.header-card {
  margin: 0px;
  padding-top: 64px;
}

.plant-card {
  margin: 0px;
  margin-top: 7px;
  margin-bottom: 4px;
}

.orange-card-box {
  margin-left: 24px;
}

.price-card-box {
  background-color: #ffffff;
  width: 136px;
  height: 48px;
  padding: 15px, 42px, 15px, 42px;
  margin-top: 4px;
  border-radius: 200px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* kiwi card */

.kiwi-card {
  width: 389px;
  height: 465px;
  background-color: #98b37e;
  margin-top: 44px;
  border-radius: 20px;
}

.header-card {
  margin: 0px;
  padding-top: 64px;
}

.plant-card {
  margin: 0px;
  margin-top: 7px;
  margin-bottom: 4px;
}

.kiwi-card-box {
  margin-left: 24px;
}

.price-card-box {
  background-color: #ffffff;
  width: 136px;
  height: 48px;
  padding: 15px, 42px, 15px, 42px;
  margin-top: 4px;
  border-radius: 200px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Fruits card position */

.fruits-card-position {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 24px;
}

/* Button order */

.button-order {
  background-color: #9dc262;
  width: 114px;
  height: 114px;
  border-radius: 50%;
  gap: 4px;
  border-style: none;
}

.button-text {
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.04em;
  transform: rotate(-14deg);
}

/* 4th section Contacts */ 
.slogan-box{
    position: relative;
    height: 591px;
    display: flex;
    flex-direction: column;
    margin: 0 auto 80px auto;
    font-family: "DM Sans", sans-serif;
}

.slogan-box-heading{
    display: block;
    text-align: center;
    text-wrap: wrap;
    margin: 0 auto;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.04;
    color: #FFFFFF;
    z-index: 1;
    text-transform: uppercase;
}
.slogan-images-box{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 768px){ /* ----------------------768px 1158px------------------------ */
.slogan-box{
    width: 1216px;
}
.slogan-box-heading{
    width: 740px;
    font-size: 64px;
}
.slogan-images-box{
    top: 89px;
    column-gap: 24px;
}
.slogan-image-right{
    height:502px;
    border-radius: 20px;
}
.slogan-image-left{
    height:502px;
    border-radius: 20px;
}
.newsletter-box{
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    align-items: center;
    width:496px;
    margin: 0 auto 150px auto;
    font-family: "DM Sans", sans-serif;
}
.newsletter-box-paragraf{
    width: 100%;
    height: 54px;
    font-weight: 400;
    font-size: 13px;
    line-height: 1,28;
    letter-spacing: -0,06;
    color: #FFFFFF;
    text-align: center;
}
.newsletter-form{
    position: relative;
    display: flex;
    width: 292px;
    height: 48px;
}
.newsletter-input{
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: 0.04;
    border-radius: 100px;
    background-color: transparent;
    outline: transparent;
    color: #FFFFFF;
}
.newsletter-input::placeholder {
    color: rgba(255, 255, 255, 0.4);
}
.newsletter-form-button:hover,
.newsletter-form-button:focus{
    background-color: #FFFFFF;
    color: #9DC162;
    border:1px solid rgba(0, 0, 0, 0.3);
}
.newsletter-form-button{
    position: absolute;
    top:0;
    right: 0;
    width: 114px;
    height: 48px;
    padding: 15px 35px;
    background-color: #9DC162;
    border-radius: 100px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.04;
    color: #FFFFFF;
    transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1),
                border 100ms cubic-bezier(0.4, 0, 0.2, 1),
                color 500ms cubic-bezier(0.4, 0, 0.2, 1);    
}
}
@media screen and (min-width: 768px) and (max-width: 1279px){ /* ----------------------768px 1158px------------------------ */
.slogan-box{
    width: 704px;
}
.slogan-box-heading{
    width: 648px;
    font-size: 54px;
}
.slogan-image-left{
    height:480px;
    border-radius: 20px;
}
.slogan-image-right{
    height:480px;
    border-radius: 20px;
}

}
@media screen and (max-width: 767px) { /* ----------------------767px------------------------ */
.slogan-box{
    /* Resolution min 375 max 768 */
    width: 375px;
}
.slogan-box-heading{
    /* Resolution min 375 max 768 */
    width: 335px;
    font-size: 32px;
}
.slogan-images-box{
    /* Resolution min 375 max 768 */
    top: 54px;
}
.slogan-image-left{
    height:476px;
    border-radius: 20px;
}
.slogan-image-right{
    /* Resolution min 375 max 768 */
    display: none;
}
.newsletter-box{
    /* Resolution min 375 max 768 */
    display: none;
}
.newsletter-box-paragraf{
    /* Resolution min 375 max 768 */
    display: none;
}
.newsletter-form{
    /* Resolution min 375 max 768 */
    display: none;
}
.newsletter-input{
    /* Resolution min 375 max 768 */
    display: none;
}

.newsletter-form-button{
    /* Resolution min 375 max 768 */
    display: none;        
}
}






















/* END HOW IT WORKS Section */
/* ---------------------------------------------------------------- */
/* HOW IT WORKS Section */



/* END HOW IT WORKS Section */
/* ================================================================ */

/* END FOOTER STYLES */
.footer {
  background-color: #fff;
}

.footer-container {
  flex-direction: column;
  align-items: center;
}

.box {
  max-width: 375px;
  padding-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
}

.footer-navigation {
  display: flex;
  gap: 20px;
  padding-top: 24px;
  padding-left: 84px;
}

.footer-logo {
  display: flex;
  gap: 8px;
  padding-top: 20px;
  margin-left: 89.5px;
}

.link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.04em;
  text-align: center;
  color: #ae1332;
}

.logo-bottom {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #ae1332;
}

.social-media-set {
  margin-left: 108px;
  margin-right: 107px;
  display: flex;
  gap: 20px;
  padding-top: 44px;
}

/*gap: 20px;
  padding-bottom: 40px;
  top: 80px;
} */

.footer-icon-box {
  border: 1px solid #ae1332;
  border-radius: 10px;
  padding: 8px;
  width: 160px;
  height: 40px;
}

.footer-address {
  padding-top: 44px;
  margin-left: 116px;
  margin-right: 116px;
  text-align: center;
}

.footer-phone {
  font-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  text-transform: uppercase;
  color: #ae1332;
}

.maps-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #ae1332;
  padding-bottom: 80px;
}

.footer-contact {
  padding-bottom: 20px;
}

.sv-link {
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-footer:hover,
.link-footer:focus {
  fill: #ae1332;
  stroke-width: 1px;
  stroke: #000;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.sv-icon {
  fill: #ae1332;
}

.left-footer {
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .box {
    max-width: 768px;
    height: 475px;
  }

  .footer-phone {
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    color: #ae1332;
  }

  .maps-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: -0.02em;
    color: #ae1332;
  }

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
  }

  .footer-icon-box {
    width: 44px;
    height: 44px;
  }

  .social-media-set {
    margin-left: 552px;
    margin-right: 44px;
    display: flex;
    gap: 20px;
    margin-top: 118px;
  }

  .footer-address {
    padding-top: 40px;
    margin-left: 552px;
    margin-right: 44px;
    text-align: center;
    margin-bottom: 153px;
  }

  .left-footer {
  }

  .footer-link {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .footer-address {
  }
}

/* DESKTOP*/
@media (min-width: 1250px) {
  .box {
    max-width: 1250px;
    height: 377px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 377px;
    background-color: #ffffff;
  }

  .logo {
    height: 16px;
    width: 16px;
  }
  .logo-bottom {
    height: 18px;
    width: 132px;
  }

  .footer-container {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
  }
  .footer-navigation {
  }

  .footer-icon-box {
    border: 1px solid #ae1332;
    border-radius: 10px;
    padding: 8px;
    width: 44px;
    height: 44px;
  }

  .social-media-set {
    margin-left: 232px;
    margin-right: 44px;
    display: flex;
    gap: 20px;
    margin-top: 80px;
  }

  .footer-link {
    margin-top: 164px;
    margin-bottom: 195px;
  }

  .footer-address {
    padding-top: 40px;
    margin-left: 232px;
    margin-right: 44px;
    text-align: center;
    margin-bottom: 97px;
  }
  .left-footer {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .footer-phone {
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    color: #ae1332;
    padding-bottom: 40px;
  }
  .footer-contact {
    padding-bottom: 20px;
  }
  .footer-maps {
    padding-bottom: 20px;
  }

  .maps-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: -0.02em;
    color: #ae1332;
  }
}

/* ---------------------------------- Your order Section-------------------------------------------- */
.backdrop {
    font-family: "DM Sans", sans-serif;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(174, 19, 50, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
div.modal-open{
    display: flex;
    flex-direction: column;
}
.your-order{
    display: none;
    position: absolute;
    top: 0px;
    left: 50%;
    padding: 40px;
    background-color: #fcfcfc;
    border-radius: 20px;
    transform: translate(-50%, 10%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.your-order-cancel-button{
    position: absolute;
    top:20px;
    right:20px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    fill: #AE1332;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1),
                border 100ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.your-order-cancel-button:hover,
.your-order-cancel-button:focus{
    fill: #fcfcfc;
    background-color: rgba(174, 19, 50, 0.4);
    border:#AE1332 1px solid ;
}
.your-order-hedding{
    color:#AE1332;
    text-transform: uppercase;
    letter-spacing: -0.04;
    font-weight: 500;
    margin-bottom:40px;
}
.orderd-product{
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 20px;
}
.orderd-product-checkbox{
    position: absolute;
    top:14px;
    right:14px;
    width: 20px;
    height: 20px;
    border: 1.5px solid #FFFFFF;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}
.orderd-product-checkbox-icon{
    fill:#FFFFFF
}
.orderd-product-hedding{
    padding-left: 20px;
    margin-top: 40px;
    color:#FFFFFF;
    letter-spacing: -0.04;
    font-weight: 700;
}
.orderd-product-paragraf{
    padding-left: 20px;
    margin-top: 8px;
    color:#FFFFFF;
    letter-spacing: -0,02;
    font-weight: 400;
}
.ordered-products-box div:nth-child(1){
    background-color: #F8766B;
}
.ordered-products-box div:nth-child(2){
    background-color: #EDD251;    
}
.ordered-products-box div:nth-child(3){
    background-color: #9DC262;    
}
.orderd-product-iamge{
    margin: 0 auto;
}
.ordering-form{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.ordering-form-input-box{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    display: flex;
    align-items: center;
    transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color 100ms cubic-bezier(0.4, 0, 0.2, 1);         
}
.ordering-form-input-box:focus-within {
    border-color: #9DC162;
    background-color: rgba(157, 193, 98, 0.05);
}
.ordering-form-input{
    width: 100%;
    height: 40px;
    padding-left: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: 0.04;
    outline: transparent;
    background-color: transparent;
    border: none;
    border-radius: 100px;
}
.ordering-form-input-textarea-box{
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    display: flex;
    transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color 100ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ordering-form-input-textarea-box:focus-within {
    border-color: #9DC162;
    background-color: rgba(157, 193, 98, 0.05);
}
.ordering-form-input-textarea {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: 0.04;
    outline: transparent;
    border: none;
    width: 100%;
    height: 100%;
    padding-left: 24px;
    padding-top: 15px;
    resize: none;
    border-radius: 20px;
    background-color: transparent;
}

.ordering-form-button{
    width: 114px;
    height: 48px;
    padding: 15px 35px;
    background-color: #9DC162;
    border-radius: 100px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.04;
    color: #FFFFFF;
    transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1),
                border 100ms cubic-bezier(0.4, 0, 0.2, 1),
                color 500ms cubic-bezier(0.4, 0, 0.2, 1);         
}
.ordering-form-button:hover,
.ordering-form-button:focus{
    background-color: #FFFFFF;
    color: #9DC162;
    border:1px solid rgba(0, 0, 0, 0.3);
}
.your-order-image{
    position: absolute;
    right:0px;
    bottom:0px;
    height: 458px;
    border-radius: 0 0 20px 0;
}
@media screen and (max-width: 767px) { /* ----------------------767px------------------------ */
.your-order{
    /* Resolution min 375 max 768 */
    padding: 20px;
    width: 335px;
    min-height: 903px;
}
.your-order-hedding{
    /* Resolution min 375 max 768 */
    font-size: 28px;
    line-height: 1;
}
.ordered-products-box{
    display: flex;
    /* Resolution min 375 max 768 */
    flex-direction: column;
    row-gap: 13px;
}
.orderd-product{
    /* Resolution min 375 max 768 */
    width: 295px;
    height: 119px;
}
.orderd-product-hedding{
    /* Resolution min 375 max 768 */
    font-size: 18px;
    line-height: 1.33;   
    margin-top: 20px;
}
.orderd-product-paragraf{
    /* Resolution min 375 max 768 */
    font-size: 14px;
    line-height: 1.28;
}
.orderd-product-iamge{
    /* Resolution min 375 max 768 */
    position: absolute;
    bottom: 4px;
    right: 16px;
}
.ordering-form{
    /* Resolution min 375 max 768 */
    width: 295px;
}
.ordering-form-input-box{
    /* Resolution min 375 max 768 */
    height: 40px;            
}
.ordering-form-input-textarea-box{
    /* Resolution min 375 max 768 */
    width: 295px;
    height: 132px;
}
.ordering-form-button{
    /* Resolution min 375 max 768 */
    margin-top: 8px;            
}
.your-order-image{
    /* Resolution min 375 max 768 */
    display: none;
}
}

@media screen and (min-width: 768px) and (max-width: 1279px){ /* ----------------------768px 1158px------------------------ */
.your-order{
    /* Resolution min 768 max 1280 */
    width: 704px;
    min-height: 853px;
}
.your-order-hedding{
    /* Resolution min 768 max 1280 */
    font-size: 40px;
    line-height: 1.1;
}
.ordered-products-box{
    display: flex;
    /* Resolution min 768 max 1280 */
    column-gap: 12px;
}
.orderd-product{  
    /* Resolution min 768 max 1280 */
    width: 200px;
    height: 250px;
}
.orderd-product-hedding{
    /* Resolution min 768 max 1280 */
    font-size: 18px;
    line-height: 1.33;
}
.orderd-product-paragraf{
    /* Resolution min 768 max 1280 */
    font-size: 14px;
    line-height: 1.28;
}
.ordering-form{
    /* Resolution min 768 max 1280 */
    width: 360px;
}
.ordering-form-input-box{
    /* Resolution min 768 max 1280 */
    height: 48px;   
}
.ordering-form-input-textarea-box{
    /* Resolution min 768 max 1280 */
    width: 360px;
    height: 145px;
}
.your-order-image{
    /* Resolution min 768 max 1280 */
    width: 290px;
    object-fit: cover;
    object-position: -5px top;
}
}

@media screen and (min-width: 1280px){ /* ----------------------768px 1158px------------------------ */
.your-order{
    /* Resolution min 1280 */
    width: 891px;
    min-height: 911px; 
}
.your-order-hedding{
    /* Resolution min 1280 */
    font-size: 40px;
    line-height: 1.1;
}
.ordered-products-box{
    display: flex;
    /* Resolution min 1280 */
    column-gap: 20px;
}
.orderd-product{
    /* Resolution min 1280 */
    width: 257px;
    height: 308px;   
}
.orderd-product-hedding{
    /* Resolution min 1280 */
    font-size: 24px;
    line-height: 1.285;
}
.orderd-product-paragraf{
    /* Resolution min 1280 */
    font-size: 16px;
    line-height: 1.16;
}
.ordering-form{
    /* Resolution min 1280 */
    width: 360px;
}
.ordering-form-input-box{
    /* Resolution min 1280 */
    height: 48px;
}
.ordering-form-input-textarea-box{
    /* Resolution min 1280 */
    width: 360px;
    height: 145px;
}
.your-order-image{
    /* Resolution min 1280 */
    width: 471px;
}
}
/* ---------------------------------- Thank You Section -------------------------------------------- */
.thank-you-backdrop {
    display: none;
    font-family: "DM Sans", sans-serif;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.7);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.thank-you-box{
    display: none;
    position: absolute;
    top: 0px;
    left: 50%;
    background: #E03F5E;
    border-radius: 20px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, 50%);
}
.thank-you-cancel-button{
    position: absolute;
    top:20px;
    right:20px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: white;
    transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1),
                border 100ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.thank-you-cancel-button:hover,
.thank-you-cancel-button:focus{
    fill: #AE1332;
    background-color: rgba(255, 255, 255, 0.9);
    border:#FFFFFF 1px solid ;
}
.thank-you-headding{
    margin:28px auto 0 auto;
    font-weight: 500;
    letter-spacing: -0.04;
    color:#FFFFFF; 
}
.thank-you-paragraf{
    text-align: center;
    margin:14px auto 0 auto;
        font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.04;
    color:#FFFFFF    
}

@media screen and (max-width: 767px) { /* ----------------------767px------------------------ */
.thank-you-box{
    width: 335px;
    min-height: 426px;
}
.thank-you-images{
    margin: 40px auto 0;
    width: 207px;
    height: 176px;
}
.thank-you-headding{
    font-size: 28px;
    line-height: 1;
}
.thank-you-paragraf{
    max-width: 295px;  
}
}

@media screen and (min-width: 768px){ /* ----------------------768px 1158px------------------------ */
.thank-you-box{
    width: 500px;
    min-height: 545px;
}
.thank-you-images{
    margin: 68px auto 0;
    width: 278px;
    height: 239px;
}
.thank-you-headding{
    font-size: 40px;
    line-height: 1.1;
}
.thank-you-paragraf{
    max-width: 391px;   
}    
}