*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /*colors sheet */
    --black-color: #000000;
    --red-color: #AE1332;
    --white-color: #FFFFFF;
    --green-color: #A4CB66;
    --yelow-color: #F5CE13;
    --hover-color: #AE13321A;

    
    --mobile-screen: min-width: 375px; /* @media (min-width: 375px){} */
    --tablet-screen: min-width: 768px; /* @media (min-width: 768px){} */
    --desktop-screen: min-width: 1280px; /* @media (min-width: 1280px){} */
    

}
body {
    margin: 0 auto;

/* basic font styles */
    font-family: 'DM+Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    color: var(--white-color);
    background-color: var(--red-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
img {
    display: block;
    width: 100%;
    height: auto;
}

/*  GLOBAL STYLES */

.section {
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--red-color);
}
.section__contact {
    padding-bottom: 80px;
}

.container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    
    /*test background-color */
    background-color: yellow;
}

/* tablet screen = @media (min-width: 768px) */

@media (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;

        /*test background-color */
            background-color: orange;
    }
}

/* desktop screen = @media (min-width: 1158px) */

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding-left: 32px;
        padding-right: 32px;

        /*test background-color */
            background-color: yellowgreen;
    }
}

/* END Global Styles */

/*  HEADER STYLES */
.header-section {
    background-color: var(--white-color)
}

.header-section__wrapper {
    padding-top: 13px;
    padding-bottom: 13px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.nav {
    display: flex;
    align-items: center;
}
.menu {
    display: none;
}
.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.logo__text {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.29;
    letter-spacing: -0.04em;
    text-align: center;
    text-transform: uppercase;
    color: var(--red-color);
}
.icon {
    display: inline-block;
    cursor: pointer;
}

.icon--red {
   fill: var(--red-color);
}
.icon--white {
    fill: var(--white-color);
}
/* logo, basket, hamburger, havent focus& hover 
.icon:hover,
.icon:focus {
    background-color: var(--hover-color);
}*/

.basket__btn {
    display: none;
    margin-left: auto;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
}

.mobile-nav__btn {
    display: block;
    margin-left: auto;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
}

@media (min-width: 768px) {
    .header-section__wrapper {
        padding-top: 11px;
        padding-bottom: 11px;
    }

    .mobile-nav__btn {
        display: none;
    }

    .basket__btn {
        display: block;
    }

    .header-section__logo {
        margin-left: 94px;
    }

    .menu__link {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.29;
        letter-spacing: -0.04em;
        text-align: center;
        color: var(--red-color);
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
    }
}

@media (min-width: 1280px) {

}

/* MOBILE-NAV modal styles */
.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
    opacity: 1;
    visibility: hidden;
    pointer-events: none;
    background-color: var(--red-color); 
}

@media (min-width: 768px) {
    .mobile-nav {
        display: none;
    }
}
.mobile-menu__overlay {
    background-color: var(--red-color);
    padding-bottom: 124px;
}
.mobile-menu {
    margin-top: 124px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
   
}
.mobile-menu__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    color: var(--white-color);
    text-transform: capitalize;
}

/* END HEADER STYLES */

/* ================================================================= */
/* HERO SECTION STYLES */

.hero-section {
    padding-top: 56px;
    padding-bottom: 40px;
}

.hero-section__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 32px;
    width: 1280px;
    min-height: 377px;
}


/* END HERO Section */
/*---------------------------------------------------------------- */
/* HOW IT WORKS Section */



/* END HOW IT WORKS Section */
/* ---------------------------------------------------------------- */
/* HOW IT WORKS Section */



/* END HOW IT WORKS Section */
/* ================================================================ */

/* END FOOTER STYLES */